
/* Pagination Controls */
 
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0; 
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: #07071f;
    color: white;
    border: 1px solid #4c4eaf;
}


.pagination a:hover:not(.active) {
    background-color: #ddd;
}
 
.pagination{
    margin-top: 30px;
}
 