<footer class="footer">
    <div class="footer-container">
        <!-- Follow Us Section -->
        <div class="footer-section follow-us">
            <h3>FOLLOW US</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Visit Us Section -->
        <div class="footer-section visit-us">
            <h3>VISIT US</h3>
            <a href="#" class="visit-btn stores">Stores</a>
            <a href="#" class="visit-btn service">Service</a>
            <a href="#" class="visit-btn appointment">Appointment</a>
        </div>

        <!-- INNWA YANGON Section -->
        <div class="footer-section innwa-yangon">
            <h3>Tech Hive YANGON</h3>
            <p>Tech Hive Merchant Road Branch <span class="arrow"></span></p>
            <p>Tech Hive Premium Seik Kan Thar Street Branch <span class="arrow"></span></p>
            <p>Tech Hive IT U Chit Maung Branch <span class="arrow"></span></p>
            <p>Tech Hive IT  North Dagon Pinlon Branch <span class="arrow"></span></p>
        </div>

        <!-- INNWA MANDALAY Section -->
        <div class="footer-section innwa-mandalay">
            <h3>Tech Hive MANDALAY</h3>
            <p>Tech Hive IT  (ကဇာကွတ်) Branch <span class="arrow"></span></p>
            <p>Tech HiveIT  (ချမ်းအေးသာဇံ) Branch <span class="arrow"></span></p>
            <p>Tech Hive IT  (မလိခ) Branch <span class="arrow"></span></p>
        </div>

        <!-- Viber Section -s->
        <div class="footer-section viber">
            <h3>Viber</h3>
            <p><i class="fas fa-phone"></i> +959771966688</p>
            <img src="static/images/qr-code.png" alt="QR Code" class="qr-code">
        </div>
    </div>

    <div class="footer-bottom">
        <p>Tech Hive IT © 2024.</p>
    </div>
</footer>
