<header id="navbar" class="navbar">
    <div class="logo">Tech Hive</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About Us</a></li>
            
            <li><a href="/products.html?filter_type='trend'">Trending Products</a></li>
            
            <div class="dropdown">
                <a href="#" class="dropdown-btn">Components </a>
                <div class="dropdown-content">
                    
                    <!-- Nested dropdown for Lifestyle Shoes -->
                    <div class="nested-dropdown">
                        <a href="#" class="nested-dropdown-btn">Computer</a>
                        <div class="nested-dropdown-content">
                            <a href="/product.html?category='CPU'">CPU</a>
                            <a href="#">RAM</a>
                            <a href="#">Power supply</a>
                            <a href="#">Motherboard</a>
                            <a href="#">Cpu Cooler</a>
                            <a href="#">SSD</a>
                            <a href="#">Hard Disk</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" class="nested-dropdown-btn">Lifestyle Shoes</a>
                        <div class="nested-dropdown-content">
                            <a href="#">Casual Sneakers</a>
                            <a href="#">Walking Shoes</a>
                            <a href="#">Slip-ons</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" class="nested-dropdown-btn">Lifestyle Shoes</a>
                        <div class="nested-dropdown-content">
                            <a href="#">Casual Sneakers</a>
                            <a href="#">Walking Shoes</a>
                            <a href="#">Slip-ons</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
    
        
    <div class="search-container">
        <input type="text" class="search-box" placeholder="Search...">
        <button class="search-btn">Search</button>
        
    </div>
        <span class="cart-icon">🛒</span>
        <div class="dropdown">
            <span class="user-icon">👤</span>
            <div class="dropdown-content">
                <a href="register.html">Register</a>
                <a href="login.html">Login</a>
                <a href="profile.html">Profile</a>
                <a href="#"  id="logout" onclick="logoutHandler">logout</a>
            </div>
        </div>
        
        <button class="language-btn">Language</button>
    </div>
 
</header>
